<!DOCTYPE html>
<html>
<head>
  <title>ReTrack</title>
  <%= stylesheet_link_tag 'ext-all' %>
  <%= javascript_include_tag 'ext-base', 'ext-all' %>
  <%= csrf_meta_tag %>
</head>
<body>

<%= yield %>

</body>
</html>
